<div class="container mt-5">

    <div *ngIf="!registerMode" style="text-align: center;">
        <h1> جام جهانی 2022 قطر</h1>
        <p class="lead">برای دریافت جامع ترین اطلاعات در مورد جام جهانی و ... وارد شوید </p>
        <div class="text-center">
            <button (click)="registerToggle()" class="btn btn-primary btn-lg ms-2">ثبت نام</button>
            <button class="btn btn-info btn-lg ">اطلاعات بیشتر</button>
        </div>    
    </div>

    <div *ngIf="registerMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
            </div>
        </div>
    </div>
</div>