.dropdown-toggle, .dropdown-item{
    cursor: pointer;
}

.dropdown-toggle{
    text-decoration: none;
}

.dropdown .dropdown-menu{
    text-align: inherit;
}

.navbar-brand{
    margin-right: 0px !important;
    margin-left: 1rem !important;
}